* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Poppins';
  font-size: 20px;
}

#header {
  display: flex;
  height: 80px;
  background-color: #B58A69;
  color: #BADA55;
  align-items: center;
  justify-content: center;
}

#header h1 {
  font-size: 40px;
  /* ADD STRETCH */
  letter-spacing: 10px;
  font-weight: 500;
}

#nav {
  color: black;
}

#nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 80px;
}

#nav li {
  list-style: none;
}

#nav a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
}

#nav a:hover {
  color: red;
}

#main {
  margin: 20px auto;
  height: 900px;
  width: 1400px;
}

.main__section {
  font-size: 20px;
  background-color: #DEE5DE; 
}

.section__info {
  display: flex;
  padding: 30px;
}

.section__info img {
  margin-left: 50px;
}

.section__info picture {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.section__info--text {
  text-align: center;
  padding: 0px 30px;
}

.section__info p {
  text-align: justify;
  font-size: 20px;
}

.main__section img {
  width: 525px;
}

.section__info-button {
  display: flex;
  align-items: top;
  width: 100%;
  height: 100px;
}

.section__info-button button {
  background-color: #5E5E4A;
  padding: 5px 50px;
  margin-left: 300px;  
  color: white;
  height: 40px;
  border: 0px solid transparent;
  cursor: pointer;
}

.main__section h2 {
  font-size: 32px;
  font-weight: 300;
}

#aside {
  /* REMOVE MARGIN-TOP ONCE DOING CODE REACTIVE */
  margin-top: 20px;
  color: #000000;
  background-color: #D7D7CB;
}

.aside__img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.aside__img-container img {
  width: 350px;
}

#aside {
  padding: 30px;
}

#aside h2 {
  font-size: 40px;
  text-align: center;
  font-weight: 300;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
  color: #E8E6E6;
  background-color: #5E5E4A;
}

h2 {
  padding-bottom: 20px;
}

@media screen and (max-width: 650px) {
  #nav ul {
    height: 300px;
    flex-direction: column;
  }
  #main {
    width: auto;
  }
  .section__info,.aside__img-container {
    flex-direction: column;
  }
  .section__info h2 {
    padding: 30px;
  }
  .section__info img {
    margin-left: 0px;
  }
  .section__info-button {
    justify-content: center;
  }
  .section__info-button button {
    margin-left: 0;
  }
}